{% extends "layout.html" %}
{% block content %}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdeliver.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    </head>
    <div class="content-section">

        <div class="d-flex align-items-center">
            <div class="flex-shrink-8">
                <img class="rounded-circle account-img" src="{{ profile_pic }}">
            </div>
            <div class="flex-grow-1 ms-3">
                <h2>{{ subtitle }}</h2>
                <h3 class="account-heading">{{ current_user.username }}</h3>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>

        <div>
            <div class="row my-3">
                <h3>LeetCode Stats</h3>
                <canvas id = "myChart" ></canvas>
                <script>
                    var data = {{ chartJSON | safe }}
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx,{
                    type: "line",
                    data{
                        labels: {{labels | safe}},
                        datasets: [
                        {
                            label: "Data points"
                            data: {{values | safe}},
                            fill: false,
                            borderColor: "blue",
                            lineTension: 0.1,
                        }
                        ]
                    },
                    options:{
                        responsive = false,
                    });
                </script>
            </div>
            <div class="row my-3">
                <h3>GitHub Repos</h3>
            </div>
        </div>
    </div>
{% endblock content %}