{% extends "layout.html" %}
{% block content %}

    <head>
        <script type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js">
        </script>
    </head>
    <body>
    <div class="content-section">

        <div class="d-flex align-items-center">
            <div class="flex-shrink-8">
                <img class="rounded-circle account-img" src="{{ profile_pic }}">
            </div>
            <div class="flex-grow-1 ms-3">
                <h2>{{ subtitle }}</h2>
                <h3 class="account-heading">{{ current_user.username }}</h3>
                <p class="text-secondary">{{ current_user.email }} - {{ current_user.school }}, Class of {{ current_user.grad_year[:4] }} </p>

            </div>
        </div>

        <div>
            <div class="row">
                <h3>LeetCode Stats</h3>
                {% if submissions %}
                    <h4>Last 20 Submissions</h4>
                    <table class="table table-sm">
                        <tr>
                            <th>Submissions</th>
                            <th>Status</th>
                        </tr>
                        {% for submission in submissions%}
                            <tr>
                                <td>{{submission["title"]}} ({{submission["lang"]}})</td>
                                <td>{{submission["status"]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <h4>Problem Solved</h4>
                    <p class="total-solved">Total Problem Solved: {{ solved }}</p>
                    <canvas id = "cChart" ></canvas>
                    <script>
                        var data = {{ circleChartJSON | safe }}
                        var ctx = document.getElementById("cChart").getContext('2d');
                        var cChart = new Chart(ctx, data);
                    </script>
                    <h4>Submission Graph</h4>
                    {% if display_graph %}
                        <canvas id = "myChart" ></canvas>
                        <script>
                            var data = {{ chartJSON | safe }}
                            var ctx = document.getElementById("myChart").getContext('2d');
                            var myChart = new Chart(ctx, data);
                        </script>
                    {% else %}
                        <p> Not enough data to display the graph </p>
                    {% endif %}
                {% else %}
                    <p>No LeetCode account submissions found for {{ current_user.username }}</p>
                {% endif %}    

            </div>
            <div class="row my-3">
                <h3>GitHub Repos</h3>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}