{% extends "layout.html" %}
{% block content %}

    <head>
        <script type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js">
        </script>
    </head>
    <body>
    <div class="content-section">

        <div class="d-flex align-items-center">
            <div class="flex-shrink-8">
                <img class="rounded-circle account-img" src="{{ profile_pic }}">
            </div>
            <div class="flex-grow-1 ms-3">
                <h2>{{ subtitle }}</h2>
                <h3 class="account-heading">{{ current_user.username }}</h3>
                <p class="text-secondary">{{ current_user.email }} - {{ current_user.school }}, Class of {{ current_user.grad_year[:4] }} </p>

            </div>
        </div>

        <div>
            <div class="row my-3">
                <h3>LeetCode Stats</h3>
                <canvas id = "myChart" ></canvas>
                <script>
                    var data = {{ chartJSON | safe }}
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, data);
                </script>
            </div>
            <div class="row my-3">
                <h3>GitHub Repos</h3>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}