{% extends 'layout.html' %}
{% block content %}
    <h2>You searched for: {{ searched }}</h2>
    
    {% if not users %}
        <p class="flashes list-group-item list-group-item-warning">No profile found for {{ searched }}</p>
    {% else %}
        {% for user in users %}
            <div class="content-section">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-8">
                        <img class="rounded-circle account-img" src="static/img/{{ user.profile_pic }}">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h3 class="account-heading">{{ user.username }}</h3>
                        <p class="text-secondary">{{ user.email }} - {{ user.school }}, Class of {{ user.grad_year[:4] }} </p>

                    </div>
                </div>

                <!-- <div>
                    <div class="row my-3">
                        <h3>LeetCode Stats</h3>
                    </div>
                    <div class="row my-3">
                        <h3>GitHub Repos</h3>
                    </div>
                </div> -->
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}